html {
    font-size: 2.75vw;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 36rem;
}

table {
    margin: 0;
    padding: 0;
    word-wrap: normal;
    overflow-wrap: normal;
}

tr, td {
    margin: 0;
    padding: 0;
}

button {
    text-align: center;
    padding: 0;
    background: black;
    color: white;
    border-radius: 0.5rem;
    border-width: 0.25rem;
    font-size: 100%;
    
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: clip;
}

.mcdu {
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    width: 36rem;
    padding: 1rem 0.2rem;
    text-align: center;
}

.lsk-container {
    vertical-align: bottom;
    padding: 0;
}

.lsk-container hr {
    border: solid 1px white;
    display: inline-block;
    width: 1rem;
    height: 0;
}

.lsk-container:first-child {
    padding-left: 1.5rem;
}

.lsk-container:last {
    padding-right: 1.5rem;
}

.lsk {
    width: 3rem;
    height: 2rem;
    font-size: 100%;
}

.pagesel {
    width: 4.5rem;
    height: 2.8rem;
    margin: 0.25rem;
}

.delclr,
.alpha,
.num {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.25rem;
}

.alpha,
.num {
    font-size: 125%;
}

.num {
    border-radius: 1.4rem;
}

.hspacer {
    width: 1rem;
}

.screen-container {
    width: 24rem;
    height: 22rem;
    background-color: #111;
    border-radius: 1rem;
    padding: 0rem;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    vertical-align: top;
}

.mcduScreen {
    width: 24.1rem;
    height: 22rem;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    color: white;
    line-height: 1;
    display: block;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.4rem;
}

.mcduScreen tr {
    height: 1.5rem;
    display: block;
    margin: 0;
    padding: 0;
}

.mcduScreen td {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 1.5rem;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

.mcduScreen td.divider {
    width: 0;
}

.scratchpad {
    text-align: left;
    width: 24rem;
}

.cell {
    background-color: transparent;
    text-align: center;
    width: 1rem;
    /* outline: dotted 1px yellow; */
}

.cell.large {
    font-size: 1.4rem;
    line-height: 1;
}

.cell.small {
    font-size: 1rem;
    padding-top: 0.4rem;
}

.cell.white { color: white; }
.cell.red { color: red; }
.cell.green { color: lime; }
.cell.yellow { color: yellow; }
.cell.cyan { color: cyan; }
.cell.blue { color: lightblue; }
.cell.magenta { color: magenta; }

#statusLight {
    position: absolute;
    background-color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border: inset 0.125rem silver;
    right: 0.5rem;
    top: 0.5rem;
}

.enable-divider0 .divider0 {
    border-right: solid 0.125rem white;
    margin-right: -0.125rem;
}

.enable-divider1 .divider1 {
    border-right: solid 0.125rem white;
    margin-right: -0.125rem;
}

.enable-divider2 .divider2 {
    border-right: solid 0.125rem white;
    margin-right: -0.125rem;
}

.enable-divider3 .divider3 {
    border-bottom: solid 0.125rem white;
    margin-bottom: -0.125rem;
}

.enable-divider4 .divider4 {
    border-bottom: solid 0.125rem white;
    margin-bottom: -0.125rem;
}
